# ==========================================
# VUE / NODE
# ==========================================
node_modules/
dist/
.env
.env.local
.env.*.local

# ==========================================
# SPRING BOOT / JAVA
# ==========================================
target/
*.jar
*.war
*.class

# Fichiers Maven/Gradle
.mvn/
.gradle/
build/

# ==========================================
# IDEs
# ==========================================
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db